<div class="container" style="padding: 20px">
  <div class="row d-flex justify-content-center">
    <h2>Consultas Agendadas</h2>

    <div class="card col-4" *ngFor="let consulta of consultas">
      <div *ngIf="consultas.length === 0">Nenhuma consulta agendada.</div>
      <div style="margin-bottom: 10px; margin-top: 10px">
        <div>{{ consulta.motivo }}</div>
        <div class="row">
          <div class="col-6">
            <p><strong>Paciente:</strong> {{ consulta.nome_paciente }}</p>
            <p><strong>Data:</strong> {{ consulta.data | date }}</p>
            <p><strong>Horário:</strong> {{ consulta.horario }}</p>
          </div>
          <div class="col-6 row">
            <img
              class="col-12"
              src="../../assets/logo_menu/agenda_logo.png"
              alt=""
            />
            <button
              class="col-12 btn btn-primary"
              iz
              *ngIf="isAdmin"
              (click)="excluirConsulta(consulta.id)"
            >
              <i class="fa-solid fa-trash-can"></i>
              Excluir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
