<div class="container mt-4">
  <h2 class="text-center mb-4">Painel do Paciente</h2>

  <div class="row justify-content-center">
    <!-- Consulta -->
    <div class="col-md-5 m-2">
      <a routerLink="/consulta" class="text-decoration-none">
        <div class="card text-center shadow-lg p-3 mb-4 bg-white rounded">
          <img
            src="../../assets/logo_menu/consulta_logo.png"
            class="card-img-top img-fluid mx-auto mt-2"
            alt="Consulta"
            style="max-width: 100px"
          />
          <div class="card-body">
            <h5 class="card-title">Consulta</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Prontuário do Paciente -->
    <div class="col-md-5 m-2">
      <a routerLink="/prontuario" class="text-decoration-none">
        <div class="card text-center shadow-lg p-3 mb-4 bg-white rounded">
          <img
            src="../../assets/logo_menu/prontuario_logo.png"
            class="card-img-top img-fluid mx-auto mt-2"
            alt="Prontuário"
            style="max-width: 100px"
          />
          <div class="card-body">
            <h5 class="card-title">Prontuário</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Contato -->
    <div class="col-md-5 m-2">
      <a routerLink="/contato" class="text-decoration-none">
        <div class="card text-center shadow-lg p-3 mb-4 bg-white rounded">
          <img
            src="../../assets/logo_menu/contato_logo.png"
            class="card-img-top img-fluid mx-auto mt-2"
            alt="Contato"
            style="max-width: 100px"
          />
          <div class="card-body">
            <h5 class="card-title">Contato</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
